/****  Colour variables  ****/

:root {
  --base-grey: #16111c;
  --base-white: #f4ebff;
  --base-black: #120310;
  --dark-purple: #560FAD;
  --hot-pink: #FA13E2;
  --cool-blue: #1C9BF5;
  --cool-blue-dark: #145685;
  --grass-green: #07A835;
  --pale-green: #74FA9B;
  --button-gradient: radial-gradient(closest-side, #1C9BF5, #145685);
  --button-reverse-gradient: radial-gradient(closest-side, #145685, #1C9BF5);
}


/****  Core structure  ****/

body {
  margin: 0 -20px;
}

header,
footer .content {
  max-width: 1200px;
  margin: auto;
}

footer {
  border-top: solid 1px var(--base-grey);
}

section {
  border-top: solid 1px var(--base-grey);
  margin: 0 -40px;
}

.row {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  margin: auto;
}

.main-content,
.content {
  padding: 0 60px;
}

@media (max-width: 768px) {
  .row {
    padding: 10px 30px;
  }
}


/****  Sections  ****/

#mission-statement {
  background-color: var(--grass-green);
}

#photo-wall {
  background-color: var(--base-white);
}

#team {
  background-color: var(--hot-pink);
}

div {
  padding: 10px;
}
