* {
  font-family: "Molengo", sans-serif;
}

body {
  background-color: #ffffff;
}
@media screen and (max-width: 39.9375em) {
  body {
    width: 100%;
  }
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

section {
  margin: auto;
  padding: 10px 5px 20px;
  width: 60%;
  border-bottom: solid 2px #d9cdf7;
  margin-bottom: 20px;
}
@media screen and (max-width: 39.9375em) {
  section {
    margin: 0 20px;
    padding: 0;
    width: auto;
  }
}
@media screen and (max-width: 57em) {
  section {
    margin: 0 50px;
    width: auto;
  }
}

section:last-of-type {
  padding-bottom: 40px;
  border-bottom: none;
}

section:first-of-type {
  border-bottom: none;
}

.heading {
  border-bottom: solid #5f0979 2px;
}

#heading-section {
  margin-top: 130px;
}
@media screen and (max-width: 39.9375em) {
  #heading-section {
    margin-top: 50px;
  }
}

html {
  font-size: 18px;
}

footer p {
  color: #ffffff;
}

h1, h2, h3, h4, h5, h6, p {
  color: #131430;
  font-family: "Molengo", sans-serif;
}

a {
  color: #17556e;
  font-weight: 500;
  text-decoration: underline;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1.1rem;
}

h6 {
  font-size: 1rem;
  font-weight: 700;
}

p, ul, li {
  font-size: 1rem;
}

.heading h1 {
  font-size: 2.4rem;
}

.heading h2 {
  font-size: 2.1rem;
}

.hero-image h1 {
  font-size: 2.4rem;
}

.hero-image h2 {
  font-size: 2.1rem;
}

.tnsm-button {
  background-color: #07445c;
  border: solid 3px #9240ad;
  border-radius: 2em;
  box-shadow: 2px 4px;
  padding: 15px;
  font-size: 1.1rem;
  color: #e4e1eb;
  text-decoration: none;
}

.tnsm-button:hover,
.tnsm-button:focus,
.tnsm-button:active {
  background-color: #17556e;
  cursor: pointer;
}

.tnsm-button:hover {
  box-shadow: 2px 4px;
}

.tnsm-button:active,
.tnsm-button:focus {
  border: solid 3px #ad0a82;
  box-shadow: 0px 0px;
  padding: 14px;
}

.card-divider {
  background-color: #240c3d;
  color: #e4e1eb;
  height: 80px;
}

.full-width-card {
  width: 100%;
}

.project-card {
  max-width: 300px;
  margin: 0 10px;
  padding: 0 10px;
}

.tabs {
  border: none;
}

.tabs-title > a {
  font-size: 0.8rem;
}

.tabs-title a {
  border: solid teal 1px;
  border-radius: 20px 20px 0 0;
}

.tabs-title > a:focus, .tabs-title > a[aria-selected=true] {
  background-color: #07445c;
  color: #e4e1eb;
}

.tnsm-card {
  background-color: #eef0f8;
  border-radius: 0 10px 10px 0;
  border-left: 5px solid #19095e;
  margin-bottom: 15px;
  padding: 20px 20px 10px 20px;
}

footer {
  /*background: rgb(36,12,61);
  background: linear-gradient(180deg, rgba(36,12,61,1) 0%, rgba(63,13,77,1) 57%, rgba(9,44,57,1) 99%);*/
  height: 75px;
  width: 100%;
  margin-top: auto;
  padding-top: 20px;
  animation: pulse 30s infinite;
}
@media screen and (max-width: 39.9375em) {
  footer {
    height: 100px;
    overflow-x: hidden;
  }
}

@keyframes pulse {
  0% {
    background-color: #240c3d;
  }
  10% {
    background-color: #5f0979;
  }
  20% {
    background-color: #ad0a82;
  }
  30% {
    background-color: #9240ad;
  }
  40% {
    background-color: #b780cf;
  }
  50% {
    background-color: #504f99;
  }
  60% {
    background-color: #439cbf;
  }
  70% {
    background-color: #17556e;
  }
  80% {
    background-color: #07445c;
  }
  90% {
    background-color: #08224e;
  }
  100% {
    background-color: #19095e;
  }
}
.footer-items {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 60%;
}
@media screen and (max-width: 57em) {
  .footer-items {
    margin: 0 50px;
  }
}
@media screen and (max-width: 39.9375em) {
  .footer-items {
    margin: 0 20px;
    display: block;
  }
}

.contact-details {
  float: right;
  width: 30%;
}
.contact-details p a {
  color: white;
}
@media screen and (max-width: 39.9375em) {
  .contact-details p,
.contact-details p a {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 39.9375em) {
  .contact-details {
    float: none;
  }
}

.copyright {
  padding-right: 30px;
}
@media screen and (max-width: 39.9375em) {
  .copyright p {
    font-size: 0.8rem;
    line-height: 10px;
  }
}

.header-wrapper, .footer-wrapper {
  margin: auto;
  width: 100%;
}

.header-wrapper {
  margin-top: 15px;
  position: sticky;
  height: 30px;
  z-index: 2;
}

header {
  background: #ced5f4;
  background: linear-gradient(36deg, #ced5f4 0%, #5f0979 79%, #17566e 100%);
  width: 100%;
  /* animation magic */
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  z-index: 9999;
  position: fixed;
  top: 0;
}

.header-items {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 60%;
}
@media screen and (max-width: 57em) {
  .header-items {
    margin: 0 50px;
    width: auto;
  }
}

.brand {
  width: 20%;
  float: left;
}
@media screen and (max-width: 39.9375em) {
  .brand {
    width: 50px;
    float: none;
  }
}

.logo-1 {
  font-size: 0;
  height: 145px;
  margin: -25px 0;
  position: relative;
  top: -20px;
  transition: height ease-in;
  width: 145px;
}

.logo-1-background {
  background-image: url("../images/moth-logo-large.svg");
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
}

.logo-2 {
  background-image: url("../images/moth-logo-horizontal-dark.svg");
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 0;
  margin-top: -25px;
  height: 100%;
  position: absolute;
  transform: translateZ(0) scale(1, 1) !important;
  -webkit-transform: translate3d(0, 0, 0);
  width: 250px;
  animation: fadeIn ease 0.5s;
  -webkit-animation: fadeIn ease 0.5s;
  -moz-animation: fadeIn ease 0.5s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Mobile logo */
.logo-3 {
  background-image: url("../images/moth-logo-horizontal-light.svg");
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  font-size: 0;
  margin-top: 20px;
  padding-bottom: 30px;
  height: 100%;
  width: 180px;
}

.logo {
  min-height: 26px;
  line-height: 0;
}

/* Navigation section */
.role-nav-container {
  justify-content: flex-end;
}

.role-nav {
  display: flex;
  float: right;
  line-height: 1.2em;
  margin: 15px 0 0;
  position: relative;
}
@media screen and (max-width: 39.9375em) {
  .role-nav {
    display: none;
  }
}

.role-nav ol {
  list-style-type: none;
  padding-left: 0;
}

.role-nav ul li:last-child {
  border-right: none;
}

.role-nav-item a {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 500;
}

li.role-nav-item {
  display: inline-block;
  border-right: solid 2px;
  color: #ffffff;
  font-size: 90%;
  font-weight: 900;
  padding: 0 6px 0 2px;
}

@media screen and (max-width: 39.9375em) {
  header {
    display: none;
  }

  .mobile-brand {
    align-content: center;
  }

  .mobile-header {
    max-height: 100vh;
    overflow-y: scroll;
    background: #773015;
    background: linear-gradient(180deg, #773015 0%, #5f0979 27%, #17566e 99%);
    color: #ffffff;
    max-height: 100vh;
    padding-bottom: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
  }

  .mobile-header .mobile-header-flex {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
  }
}
@media screen and (min-width: 39.94em) {
  .hamburger-icon {
    display: none;
  }
}
@media screen and (max-width: 39.9375em) {
  .hamburger-icon {
    background-image: url("../images/hamburger-plain.svg");
    background-repeat: no-repeat;
    height: 25px;
    left: 0px;
    margin: 20px;
    position: absolute;
    top: 4px;
    width: 25px;
    z-index: auto;
  }
}
.hero {
  overflow: hidden;
  margin-top: 85px;
  width: 100%;
}
@media screen and (max-width: 39.9375em) {
  .hero {
    margin-top: 25px;
    min-width: 338px;
  }
}

.hero-image {
  align-items: center;
  background-image: url("../images/white-horse-trail.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 400px;
  justify-content: center;
  text-align: center;
}

.hero-text {
  background-color: #131430;
  opacity: 80%;
  padding: 40px;
  width: 80%;
}

.hero-image h1, .hero-image h2 {
  color: #ffffff;
}

@media screen and (max-width: 39.9375em) {
  .hero-text {
    font-size: 14px;
  }

  h1 {
    font-size: 1.8em !important;
  }

  h2 {
    font-size: 1.5em !important;
  }
}
.media-frame {
  max-width: 650px;
  margin: auto;
}

/*# sourceMappingURL=compiled-style.css.map */
