* {
  font-family: 'Molengo', sans-serif;
}

body {
  background-color: white;
  margin: -10px;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

section {
  margin: auto;
  padding: 10px 5px 0;
  width: 60%;
}

section:last-child {
  padding-bottom: 20px;
}

footer p {
  color: white;
}

h1, h2, h3, h4, h5, h6, p {
  color: #383838;
}

a {
  color: #2e87a1
}

h1 {
  font-size: 34px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
  font-weight: 700;
}

p, ul, li {
  font-size: 18px;
}

.heading h1{
  font-size: 44px;
}

.heading h2{
  font-size: 38px;
}

.heading {
  border-bottom: solid rgb(135, 97, 170) 2px;
}

#heading-section {
  margin-top: 130px;
}

.header-wrapper, .footer-wrapper {
  margin: auto;
  width: 60%;
}

.header-wrapper {
  position: sticky;
  height: 30px;
}

header {
  background-color: #ced5f4;
  width: 100%;
  /* animation magic */
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  z-index: 9999;
  position: fixed;
  top: 0;
}

.shrink {
  padding-top: 0;
  height: 100px;
}

footer {
  background-color: #4b3d5a;
  height: 75px;
  width: 100%;
  margin-top: auto;
  padding-top: 20px;
}

.brand {
  width: 20%;
  float: left;
}

.logo-1 {
  font-size: 0;
  height: 100px;
  position: relative;
  top: -5px;
  transition: height ease-in;
  width: 180px;
}

.logo-1-background {
  background-image: url('../images/logo.svg');
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
}

.logo-2 {
  background-image: url('../images/logo-horizontal.svg');
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 0;
  margin-top: 10px;
  height: 100%;
  position: absolute;
  transform: translateZ(0) scale(1,1)!important;
  -webkit-transform:translate3d(0,0,0);
  width: 200px;

  animation: fadeIn ease .5s;
  -webkit-animation: fadeIn ease .5s;
  -moz-animation: fadeIn ease .5s;

  @keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
}

.logo {
  min-height: 26px;
  line-height: 0;
}


/* Navigation section */

.role-nav {
  padding-left: 0;
  vertical-align: middle;
  float: right;
  margin-bottom: 10px;
  padding: 0 30px;
}

.role-nav ol {
  list-style-type: none;
  padding-left: 0;
}

.role-nav ul li:last-child {
  border-right: none;
}

.role-nav-item a {
  color: #114757;
  font-size: 90%;
  font-weight: 900;
}

 li.role-nav-item {
  display: inline-block;
  border-right: solid 2px;
  color: #114757;
  font-size: 90%;
  font-weight: 900;
  padding: 0 6px 0 2px;
}
