* {
  font-family: 'Molengo', sans-serif;
}

body {
  background-color: white;
  margin: -10px;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

*/ Navigation section */

.role-nav {
  list-style-type: none;
  padding-left: 0;
  vertical-align: middle;
  float: right;
  padding: 20px 30px 20px 20px;
}

.role-nav ol {
  list-style-type: none;
  padding-left: 0;
}

.role-nav ul li:last-child {
  border-right: none;
}

.role-nav-item {
  display: inline-block;
}

.role-nav-item a {
  color: #114757;
  font-size: 90%;
  font-weight: 900;
}

.role-nav-item a::after {
  display: inline-block;
  color: #114757;
  content: '|';
  font-size: 90%;
  font-weight: 900;
  padding: 0 3px;
}

section {
  margin: auto;
  padding: 10px 5px;
  width: 60%;
}

footer h6 {
  color: white;
}

h1, h2, h3, h4, h5, h6, p {
  color: #383838;
}

a {
  color: #2e87a1
}

h1 {
  font-size: 34px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
  font-weight: 700;
}

p {
  font-size: 18px;
}

.heading h1{
  font-size: 44px;
}

.heading h2{
  font-size: 38px;
}

.heading {
  border-bottom: solid rgb(135, 97, 170) 2px;
}

.header-wrapper, .footer-wrapper {
  margin: auto;
  width: 60%;
}

header {
  height: 120px;
  background-color: rgb(135, 97, 170);
  z-index: 1;
  padding-top: 10px;
}

footer {
  background-color: rgb(75, 61, 90);
  height: 120px;
  width: 100%;
  margin-top: auto;
}

.brand {
  background-image: url('../images/logo.svg');
  background-repeat: no-repeat;
  height: 90px;
  width: 20%;
  float: left;
}
